
body{
    background-color: #ffffff;
}

.gridbox {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #000000;
    padding: 0px;
  }
  .griditem {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


.container{
    margin: auto;
    margin-bottom: 50px;
    width: 71%;
    /* border: 3px solid #73AD21; */
    padding: 15px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #ffffff;
    /* font-family: 'Karla', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  }

  .gridbox{
    width: 20%;
    height: 40%;
    z-index: 9;
    position: absolute;
    opacity: 0.3;
    margin-left: 340px;
    margin-top: 220px;
  }

.container img{
    max-width: 100%;
}


#logo img{
    width: 1000%;
  }